<!DOCTYPE html>

<html>
    <head>
        <link href="../static/conflict.css" type="text/css" rel="stylesheet"/>
        <title>{{ title }}</title>
    </head>

    <body style="background-color: darkslategrey;">
        <div class="map">
            {% include 'map_conflict.html' %}
        </div>
        <h3>Fatalities provoked by armed conflicts from 2010 to 2020</h3>
        <p class='source'>Source: <a href="https://www.acleddata.com" target='_blank'>Armed Conflict Location & Event Data Project (ACLED)</a></p>
    </body>
    <footer>
        {% extends 'footer.html' %}
    </footer>
</html>

