<head>
    <link href="../static/footer.css" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href="mailto:aamsi.dev@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/isma%C3%ABl-ouali-86b3a3192/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/Aamsi/map_data_aggregator" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
</body>